  <!--------------------------------------
FOOTER
--------------------------------------->
<div class="container mt-5">
    <footer class="bg-white border-top p-3 text-muted small">
      <div class="row align-items-center justify-content-between">
        <div>
          <span class="navbar-brand mr-2"><strong>Webie</strong></span>
          <script>
            document.write(new Date().getFullYear())
          </script>
        </div>
        <div>
          Made by <a target="_blank" class="text-secondary font-weight-bold"
            href="https://github.com/ad1tyaSharma">Aditya Sharma</a>
        </div>
      </div>
    </footer>
  </div>
  <!-- End Footer -->