<nav>
    <% if (user) { %>
        <p>Welcome,
            <%= user.name %>
        </p>
        <a href="/users/logout">logout</a>
        <%} %>
            <div><button><a href="/posts/create">Create Post</a></button></div>

</nav>