<nav>
    <a href="/posts">Home</a>
    <% if (user) { %>
        <p>Welcome,
           <a href="/users/profile/<%= user.id %>"> <%= user.name %></a>
        </p>
        <a href="/users/logout">logout</a>
        <%} %>
            <div><button><a href="/posts/create">Create Post</a></button></div>

</nav>