<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<script>
    const generateLink = ()=>
    {
    axios.post('/users/forgot-password', 
    {
        email : document.querySelector("#email").value
    })
        .then(function(response) {
            if (response.status == 200) {
                alert(response.data.msg);
                console.log(response.data.link);
                // window.location.href = '/posts'
            }
        })
        .catch(function(error) {
            if (error.response) {
                alert(error.response.data.error);
            }
        });
    }
</script>

<body>
    <h2>Enter email linked to your Blog Account</h2>
    <div class="form ">
        <form action="/users/login" method="post ">
            <div class=""> <span>Email : </span><input type="email" name="email" id="email"></div>
            <button type="button" onclick="generateLink()">Send reset link to your email</button>
        </form>
    </div>
</body>

</html>