<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register | Webie</title>
	<%- include('components/header.ejs') %>

</head>
<script>
    function myFunction() {
		var x = document.getElementById("password-field");
		var y = document.querySelector(".toggle-password");
		if (x.type === "password") {
			x.type = "text";
			y.classList.remove("fa-eye")
			y.classList.add("fa-eye-slash")
		} else {
			x.type = "password";
			y.classList.remove("fa-eye-slash")
			y.classList.add("fa-eye")
		}
	}
</script>

<body>
	<%- include('components/navbar.ejs') %>
    <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url('/images/bg-1.jpg');"></div>
						<div class="login-wrap p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Register</h3>
								</div>

							</div>
							<form action="#" class="signin-form">
								<div class="form-group mt-3">
									<input type="name" id="name" class="form-control" required>
									<label class="form-control-placeholder" for="Name">Name</label>
								</div>
                                <div class="form-group mt-3">
									<input type="email" id="email" class="form-control" required>
									<label class="form-control-placeholder" for="email">Email</label>
								</div>
								<div class="form-group">
									<input id="password-field" type="password" class="form-control" required>
									<label class="form-control-placeholder" for="password">Password</label>
									<span id="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"
										style="cursor:pointer;" onclick="myFunction()"></span>
								</div>
								<div class="form-group">
									<button type="button" class="form-control btn btn-primary rounded submit px-3"
										onclick="createUser()">Register</button>
								</div>
								<div class="form-group d-md-flex">
									<div class="">
										<p class="text-center">Already a member? <a 
												style="color: #01D28E;" href="/users/login">Sign in</a></p>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>